header {
    display: flex;
    justify-content: space-between;
    background-color: #0E2C40;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: '';
    background-color: #4C5B84;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.main-button {
    display: inline-block;
    background-color: #4C5B84;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: 0.2s;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-shadow: 3px 3px 5px #000;
    transform: scale(1.05);
}

.main-button:hover {
    background-color: #148D8D;
    text-shadow: 3px 3px 5px #000;
    transform: scale(1.05);
}

.main-banner {
    display: flex;
    box-sizing: border-box;
    background-color: #3A4042;
    height: 625px;
    border-bottom: 10px solid #000;
    padding-left: 150px;
    padding-top: 15px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-top: 100px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-box {
    display: inline-block;
    background-color: #828282;
    box-shadow: 10px 10px 0 #000;
    padding: 42px 44px;
    text-align: center;
}

.main-title {
    font-family: 'Press start 2P', sans-serif;
    font-size: 30px;
    color: #4C5B84;
    text-shadow: 4px 4px 0 #000;
    margin-bottom: 22px;
}

.main-subtitle {
    font-family: 'Press start 2P', sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 4px 4px 0 #000;
}

#photo img {
    margin-left: 150px;
}