.card-project {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4C5B84;
	width: 280px;
	height: 250px;
	box-shadow: 5px 5px 0px #3A4042;
}

.wrapper-card .logo {
    max-width: 270px;
    height: 230px;
}

.card-project.-blue {
	background-color: #0E2C40;
}