.section {
    background-color: #4C5B84;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #0e2c40;
}

.wrapper-skills {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
}

.skill-tec {
    display: inline-flex;
    padding-right: 100px;
    height: 90px;
}

.icon {
    height: 90px;
    width: 80px;
    margin-right: 30px;
}

.progress-bar {
    margin-top: 16px;
    border: 5px solid #000;
    height: 40px;
    width: 320px;
}